{%extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<!-- Styles block -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{%endblock%}

<!-- Content block -->

<body>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 align="center"> HEADLINES</h3>
                        <div class="container">
                            <div class="card-columns">
                                {% for headlines in headlines %}

                                <div class="card card-flex">
                                   <div class="image">
                                    <img class="card" src="{{headlines.image}}" alt="Card image cap" size="100px180">
                                   </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{headlines.author}}</h5>
                                        <p class="card-text">{{headlines.description}}</p>
                                        <a href="{{headlines.url}}">
                                            <p class="card-text">Click here for more details!</p>
                                        </a>
                                        <div class="card-footer">
                                            <small class="text-muted">Publish date:{{headlines.time}}</small>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

</body>

{% endblock %}